<h2>
  <%= @restaurant.name %>
</h2>

<%= link_to 'Back', restaurants_path, class: 'btn btn-dark mb-3' %>
<%= link_to 'Edit restaurant', edit_restaurant_path(@restaurant), class: 'btn btn-primary mb-3' %>

<p>
  <strong>Address:</strong>
  <%= @restaurant.address %>
</p>

<p>
  <strong>Contact:</strong>
  <%= @restaurant.phone_number %>
</p>

<p>
  <strong>Cuisine:</strong>
  <%= @restaurant.category %>
</p>

<%# <%= link_to "Add Review", new_restaurant_review_path(@restaurant), class: 'btn btn-primary mb-2' %>
<hr>

<h5>Leave a review</h5>
<%= render 'reviews/form', reivew: @review %>

<hr>

<h5>Reviews</h5>

<ul class="list-group mt-2">
  <% @restaurant.reviews.each do |review| %>
    <li class="list-group-item d-flex justify-content-between">
      <%= review.content %>
      <div>
        <% review.rating.times do %>
          <i class="fas fa-star"></i>
        <% end %>
      </div>
    </li>
  <% end %>
</ul>
